<% provide(:title, "Edit user") %> 
<% pid = params[:plan_id] %>
<% plan_object = Plan.find(pid) %>
<% if @user.plan_id == 1 %>
<% @user.plan_id = "300000" %>
<% stripecustomertoken = @user.stripe_customer_token %>
<% end %>
<%= pid %>
<div class="GreenBlueBG">
<div style="width:1200px; margin:0 auto;">
<div class="row">
  <div class="span7 offset4">
    <h1>Update your profile</h1>

        
  </div>
</div>