<%= form_for @subscription, :html => {:class => "form-inline"} do |f|  %>
          <h3 class="two">Your payment information</h3>
          <div class="control-group">

          </div>
  
  <div class="actions">
    <%= f.submit "Upgrade my Account", class: "btn btn-large btn-primary", id: "submitacct" %>
  </div>
<% end %>
