<div id="GraydientBackground">
<div style="width:1200px; margin:0 auto;">
<div class="row">
  <div class="span7 offset4">
	<h1>Change Subscription</h1>    
    <p>Upgrade your plan to send unlimited events. You will be billed $30 now and then $30 every month until you cancel. </p>
    
    <%= render 'form' %>
  </div>
</div>
</div>
</div>

