<% provide(:title, 'Send Event') %>
<div class="container">
	<div class="span5 offset6">
		<p>Enter your event details and we'll automatically send your event to over 30 Orange County events calendars.</p>
		<%= render 'sendevent' %>
	</div>
</div>